<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<hr>

<ul>
  <li><%= link_to "Perform a read on the database", "/read" %></li>
  <li><%= link_to "Perform a write on the database", "/write" %></li>
  <li><%= link_to "Submit a background job using Sidekiq", "/work" %></li>
</ul>
